 <div class="sidebar">
        <div class="gadget">
          <h2 class="star"><span>Sidebar</span> Menu</h2>
          <div class="clr"></div>
          <ul class="sb_menu">
        <li class="active"><a href="adminhome.jsp"><span>Home Page</span></a></li>
<li><a href="studentdetails.jsp"><span>Victim</span></a></li>
		  <li><a href="feereport.jsp"><span>Investigator</span></a></li>
		  <li><a href="academicyear.jsp"><span>Complains</span></a></li>
          <li><a href="index.jsp"><span>Logout </span></a></li>
                </div>
        
      </div>