 <div class="sidebar">
        <div class="gadget">
          <h2 class="star"><span>Sidebar</span> Menu</h2>
          <div class="clr"></div>
          <ul class="sb_menu">
            <li class="active"><a href="index.html"><span>Home Page</span></a></li>

    <li><a href="victim.html"><span>Victim</span></a></li>
          <li><a href="investigator.html"><span>Investigator</span></a></li>
                <li><a href="admin.html"><span>Admin</span></a></li>
</ul>
        </div>
        
      </div>